@font-face { 
    font-family: 'LearningCurveProRegular';
    src: url('LearningCurve_OT-webfont.eot');
    src: url('LearningCurve_OT-webfont.eot?#iefix')
        format('embedded-opentype'),
        url('LearningCurve_OT-webfont.woff') format('woff'),
        url('LearningCurve_OT-webfont.ttf') format('truetype'),
        url('LearningCurve_OT-webfont.svg#LearningCurveProRegular')
        format('svg');
}

@font-face {
font-family: 'PlayfairDisplay-Regular';
src: url('PlayfairDisplay-Regular.otf');
}

@font-face {
font-family: 'FiraSans-Regular';
src: url('FiraSans-Regular.otf');
}

h3, h5 {
    font-family: 'PlayfairDisplay-Regular', Arial;
    line-height: 25%;
}

p {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 0.8em;
}



.miniatureflottante 
{
    float: left;
}

.img-texte 
{
    display: inline-block;
    padding-top: 20px;
    vertical-align: central;
}


.img-texte img {
    float : left;
    margin-right : 15px;
    width : 5%;
    
}


.container-img-texte {
    margin-top : 30px;
    line-height: 60px; /*fait bouger la ligne*/
    vertical-align: central;
    margin-left: 50px;
    martin-bottom: 30px;
    /*height: 150px;*/
}

.boite {
    width: auto;
    height: 130px;
    border: 3px solid #009999;
    box-sizing: border-box;
    border-radius: 15px 50px;
    
}

input[type=submit] {
    font-family: 'PlayfairDisplay-Regular', Arial;
    background-color: #009999;
    color: white;
    padding-top:5px; 
    padding-right:10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:13px;
    border-radius: 8px;

    /*    width:200px;
    padding:20px;
    margin:5px;*/
    transition: all 0.5s;
    cursor: pointer;
}

input[type=submit] span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

input[type=submit]:after {
    content: '»';
    position: absolute;
    opacity:0;
    top:0;
    right : -20px;
    transition: 0.5s;
}

input[type=submit]:hover span {
    padding-right: 25px;
}
input[type=submit]:hover span:after {
    opacity: 1;
    right:0;
}

.hop {
    font-family:'LearningCurveProRegular', Arial;
    font-size: 2em;
    font-weight: bold;
}


table {
    width : 100%;
    font-family: 'PlayfairDisplay-Regular', Arial;
}

th {
    text-align : left;
    font-family: 'PlayfairDisplay-Regular', Arial;
}



td {
    height: 80px;
    vertical-align: central;
    font-family: 'PlayfairDisplay-Regular', Arial;
    font-size: 0.85em;
}

td {
    border-bottom: 1px solid #ddd;
}


.insideTable:hover {
    background-color: #f5f5f5;
}

#outer
{
    width:100px;
    text-align:center;
}

/*.cmd {
    display: inline-block;
}

.achat {
    display: inline-block;
}*/

.inner {
    display: inline-block;
}

.floatbutton {
    display: inline-block;
}