


h1 {
    margin-left: 150px;
    font-family: 'LearningCurveProRegular',Arial;
    color: #00cc99;
}




h2, h4 {
    
    font-family: 'PlayfairDisplay-Regular',Arial;
    
}


#login{
/*    margin-left: 150px;*/
    position : absolute;
    left : 150px;
}

#signup{
    position : absolute;
    left : 150px;
}

#welcome{
    position : absolute;
    left : 150px;
}

#fatalerror{
    position : absolute;
    left : 150px;
}


#signupvalidation{
    position : absolute;
    left : 150px;
}

#profile {
    position : absolute;
    left : 150px;
}