#allEvent{
    margin-left: 150px;
}

#eventInfo{
    display: flex;
}

#catalog{
    margin-left: 150px;
}

#book{
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    
}

#bookTitle{
    margin-left: 150px;
}

#eventDates{
    margin-left: 150px;
    
}
.conteneur{
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'PlayfairDisplay-Regular', Arial;
    background-color: #CEF6E3;
    margin-left: 150px;
}

h2{
    font-family: 'PlayfairDisplay-Regular', Arial;
    line-height: 25%;
}

.titreBug{
    margin-left: 150px;
    
}

img{
    float: left;    
}

.eventDetail{
    font-family: 'PlayfairDisplay-Regular', Arial;
    background-color: #009999;
    color: white;
    padding-top: 5px; 
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;

    /*    width:200px;
    padding:20px;
    margin:5px;*/
    transition: all 0.5s;
    cursor: pointer;
}